$white-background: #3178c6;
$blue-background: #ffffff;

@mixin joke-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
    font-weight: 500;
    color: $white-background;
    width: 100%;
    height: 10rem;
    margin: 0;
    padding: 0.625rem;

    p {
        margin: 0;
    }
}

@mixin effect {
    animation: fadein 5s;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;} 
}

@mixin button {
    background-color: $white-background;
    color: $blue-background;
    font-size: 1.5rem;
    padding: 0.625rem;
    border-radius: 0.625rem;
    border: 1px solid $white-background;
    box-shadow: 0.125rem 0.125rem 0.3125rem black;
    cursor: pointer;
    margin-top: 1.5625rem;
}

@mixin button-active {
    box-shadow: inset 0.0625rem 0.0625rem 0.3125rem black;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    font-optical-sizing: auto;
    box-sizing: border-box;
}

header {
    background-color: $white-background;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.6875rem;

    h1 {
        font-weight: 500;
        color: $blue-background;
        margin: 0;
        font-size: 2.5rem;
    }

}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3.125rem auto;
    width: 80%;
    border: 0.125rem solid $white-background;
    border-radius: 0.9375rem;
    padding: 1.5625rem;
    box-sizing: border-box
}

#joke-button {
    @include button;

    &:active {
        @include button-active;
    }
    
}

#joke-container {
    @include joke-text;
}

#answer-container {
    @include joke-text;

    p {
        @include effect;
    }
}